<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="318_SBA/public/style.css" />
  </head>
  <body class="body">
    <h1><%= title %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, nostrum.
      Ipsa autem nemo tenetur eveniet veritatis, quam doloremque enim quos
      voluptatum sequi alias necessitatibus quaerat laudantium, reprehenderit
      consectetur ad repellat!
    </p>
    <img
      src="https://th.bing.com/th/id/OIP.Ob2FzM6UiQmAOGhiGizAUAHaEQ?w=299&h=180&c=7&r=0&o=5&pid=1.7 "
      alt=""
    />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae voluptate enim officia officiis quod, cupiditate porro provident quidem sapiente, beatae deserunt minima at necessitatibus soluta tempore quibusdam voluptatibus alias architecto.<br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vero incidunt tenetur laudantium non at alias aut aperiam eligendi qui reprehenderit sunt accusamus impedit voluptatum, culpa atque vitae aspernatur porro.
    </p>
  </body>
</html>
