* {
  box-sizing: border-box;
}

.body {
  font-family: sans-serif; 
  background-color: grey;
  color: white;
}

.form{
  position:absolute;
  top: 20%;
  left: 15%;
  
}

.context{
  position:absolute;
  text-align: justify;
  top:20%;
  left: 50%;
  right:15%;
  
}

h1{
  text-align: center;
  padding-top:20px;
}

hr{
  color: white;
}